<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IPFSgur</title>
	<link rel="stylesheet" href="https://unpkg.com/@picocss/pico@1.*/css/pico.min.css">
</head>

<style>
</style>

<body>
	<hgroup class="container" style="margin-top: 10px;">
		<h2>Upload an Image</h2>
		<h3><strong>Note</strong> that uploading images of size > 100kb may be slow.</h3>
	</hgroup>
    <hr>

    <form enctype="multipart/form-data" method="post" class="container">
		<label>Upload your image here:</label>
		<input type="file" name="file1">
		<label for="public_id">
			<input type="checkbox" name="public_name" id="public_id" role="switch">
			Make image public
		</label>
        <input type="submit" value="Upload" style="margin-top: 20px;">
    </form>
</body>
</html>
